<!--footer start-->
<footer class="app-footer bg-dark pb-0 border-0 mt-md-5 mt-3 text-center">
  <div class="container">
    <div class="row">
      <div class="col">
        <img
          class="pr-3 mb-md-0 mb-4"
          src="/static/assets/img/logo-color.png"
          srcset="/static/assets/img/logo-color@2x.png 2x"
          alt=""
        />
      </div>
    </div>
  </div>
  <div class="app-secondary-footer mt-md-5 mt-3 text-center">
    <div class="container">
      <div class="row">
        <div class="col">
          <p class="text-body-light">ساخته شده با
            <span style="color: red;">&hearts;</span>
            و
            <span>&#9749</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--footer end-->