<!-- Page Headings Start -->
<div class="row justify-content-between align-items-center mb-10">
  <!-- Page Heading Start -->
  <div class="col-12 col-lg-auto mb-20">
    <div class="page-heading">
      <h3 class="title">کاربران <span>/ ایجاد کاربر جدید</span></h3>
    </div>
  </div>
  <!-- Page Heading End -->

  <!-- Page Button Group End -->
</div>
<!-- Page Headings End -->

<div class="row mbn-30">
  <!-- Revenue Statistics Chart Start -->
  <div class="col-md-12 mb-30">
    <div class="box">
      <div class="box-head">
        <div class="row">
          <h4 class="title">فرم ایجاد کاربر</h4>
        </div>
      </div>
      <div class="box-body">
        <form action="/admin/users/store" method="POST">
          <div class="row mbn-20">
            <div class="col-12 mb-20">
              {{#if hasError}}
                <div class="alert alert-outline-danger" role="alert">
                  {{#each errors}}
                    <p>{{this}}</p>
                  {{/each}}
                </div>
              {{/if}}
            </div>
            <div class="col-12 mb-20">
              <input
                name="full_name"
                type="text"
                id="formLayoutUsername3"
                class="form-control"
                placeholder="نام کاربر"
              />
            </div>
            <div class="col-12 mb-20">
              <input
                name="email"
                type="email"
                id="formLayoutEmail3"
                class="form-control"
                placeholder="ایمیل کاربر"
              />
            </div>
            <div class="col-12 mb-20">
              <input
                name="password"
                type="password"
                id="formLayoutEmail3"
                class="form-control"
                placeholder="کلمه عبور"
              />
            </div>

            <div class="col-12 mb-20">
              <h6 class="mb-15">نقش کاربری</h6>
              <div class="form-group">
                <label class="inline"><input
                    name="role"
                    type="radio"
                    value="0"
                    checked
                  />کاربر</label>
                <label class="inline"><input
                    name="role"
                    type="radio"
                    value="1"
                  />نویسنده</label>
                <label class="inline"><input
                    name="role"
                    type="radio"
                    value="2"
                  />مدیر</label>
              </div>
            </div>

            <div class="col-12 mb-20">
              <button
                type="submit"
                value="ذخیره سازی"
                class="button button-primary"
              >
                <span>ذخیره سازی</span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Revenue Statistics Chart End -->
</div>

{{! Final Edition }}